#########################################Questoins#########################################################
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [6]:
##1
str='ineuron'
for i in range(4):
    for j in range(i+1):
        print(str,end=' ')
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [15]:
##2
str='ineuron'
n=len(str)

for i in range(3):
    for j in range(3-i-1):
        print(' '*n,end='')
    for k in range(i+1):
        print(str,end=' '*n)
    print()

for a in range(2):
    for b in range(a+1):
        print(' '*n,end='')
    for k in range(2-a):
        print(str,end=' '*n)
    print()

              ineuron
       ineuron       ineuron
ineuron       ineuron       ineuron
       ineuron       ineuron
              ineuron

In [2]:
##3
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l1=[]
for i in l:
    if type(i)==list:
        for k in i:
            l1.append(k)
        
print(l1)

[1, 2, 3, 4, 'ineuron', 'data science ']

In [22]:
##4
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
dict1={}
l1=[]
for i in l:
    if type(i)==dict:
        dict1.update(i)

for j in dict1:
    l1.append(j)
    l1.append(dict1[j])
        
print(dict1,' all extracted dictonary elements are in dictonary format')

print(l1," all extracted dictonary elements are in list format")

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}  these are in dictionry format
['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]  these are in list format

In [24]:
##5
tup=()
for i in l:
    if type(i)==tuple:
        tup=tup+i
print(tup)

(2, 3, 4, 5, 6, 3, 4, 5, 6, 7)

In [11]:
##6
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l1=[]

for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)
    elif type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==float:
                l1.append(j)
    elif type(i)==set:
        l1.append(i)
    elif type(i)==dict:
        for k in i:
#             val=i
            if type(k)==int or type(k)==float:
                l1.append(k)
        
            if type(i[k])==int or type(i[k])==float:
                l1.append(i[k])

print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [48]:
##7
#6 has ouput that contains all the numerical values in list 'l1' making use of this list
sum=0
for i in range(len(l1)):
    sum=sum+l1[i]
print(sum)

156

In [51]:
##8
#6 from here we have list l1 that holds all numeric data present in the list tht was initially provided
l2=[]
for i in range(len(l1)):
    if l1[i]%2!=0:
        l2.append(l1[i])
print(l2, " this contains all the odd values from the provided list")

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]  this contains all the odd values from the provided list

In [58]:
##9
ineu=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:  # search for ineuron in list
        for j in i:
            if j=='ineuron':
                ineu.append(j)
    elif type(i)==str and i=='ineuron':   # search for ineuron in strings
        ineu.append(i)
    elif type(i)==dict:                   # search for ineuron in dictionary
        for x in i:
            if x=='ineuron':
                ineu.append(x)
            if i[x]=='ineuron':
                ineu.append(i[x])
ineu

['ineuron', 'ineuron']

In [73]:
##10
list2=[]
dict3={}
for i in l:
    if type(i)==list or type(i)==tuple:
        for h in range(len(i)):
            list2.append(i[h])
    elif type(i)==set:
        for j in i:
            list2.append(j)
    elif type(i)==dict:
        for x in i:
            list2.append(x)
            list2.append(i[x])
    elif type(i)==int or type(i)==float or type(i)==str:
            list2.append(i)
list2   #list2 now contains all the elements in  initail list in list format
set2=set(list2)  #covert to SET inorder to get the unique values
set2    

for z in set2:    # loop to iterate through all elements checking for repeatability 
    count=0
    for i in l:
        if type(i)==list or type(i)==tuple:
            for h in range(len(i)):
                if z==h:
                    count=count+1
                    dict3[z]=count
        elif type(i)==set:
            for j in i:
                if z==j:
                    count=count+1
                    dict3[z]=count
        elif type(i)==dict:
            for x in i:
                if z==x:
                    count=count+1
                    dict3[z]=count
                if i[x]==z:
                    count=count+1
                    dict3[z]=count
        elif type(i)==int or type(i)==float or type(i)==str:
                if i==z:
                    count=count+1
                    dict3[z]=count

dict3

{1: 4,
 2: 3,
 3: 4,
 4: 3,
 5: 1,
 6: 1,
 7: 1,
 'sudh': 1,
 'ineuron': 1,
 8: 1,
 45: 1,
 'k3': 1,
 'kumar': 1,
 23: 1,
 'k1': 1,
 'k2': 1}

In [84]:
##11
count1=0
for i in l:
    if type(i)==dict:
        count1=count1+len(i)

print("Total number of keys in initial provided list is ",count1)

Total number of keys in initial provided list is  5

In [3]:
##12
#making use of "list2" which contains all the elements of intial provided list as executed in query #10

l6=[]


for i in l:
    if type(i)==str:
        l6.append(i)
    elif type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l6.append(j)
    elif type(i)==dict:
        for k in i:
#             val=i
            if type(k)==str:
                l6.append(k)
        
            if type(i[k])==str:
                l6.append(i[k])

print(l6)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [20]:
##13

l7=[]

for i in l:
    if type(i)==str:
        if l[i].isalnum():
            l7.append(i)
    elif type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(i)==str:
                if j.isalnum():
                    l7.append(j)
    elif type(i)==dict:
        for k in i:
            if type(i)==str:
                if k.isalnum():
                    l7.append(k)
        
            if type(i)==str:
                if i[k].isalnum():
                     l7.append(i[k])

print(l7)

[]

In [19]:
##14

dict7={}
for i in l:
    mul=1
    count=0
    if type(i)==int or type(i)==float or type(i)==str:
        pass
    elif type(i)==list or type(i)==tuple:
        for j in i:
            if type(j)==int or type(j)==float:
                mul=mul*j
                count=count+1
        if(count>0):
            dict7[str(i)]=mul
    elif type(i)==set:
        i=list(i)
        for k in i:
            if type(k)==int or type(k)==float:
                mul=mul*k
                count=count+1
        if(count>0):
            dict7[str(i)]=mul
    elif type(i)==dict:
        for n in i:
            if type(n)==int or type(n)==float:
                mul=mul*n
                count=count+1
            if type(i[n])==int or type(i[n])==float:
                mul=mul*i[n]
                count=count+1
        if(count>0):
            dict7[str(i)]=mul
dict7

{'[1, 2, 3, 4]': 24,
 '(2, 3, 4, 5, 6)': 720,
 '(3, 4, 5, 6, 7)': 2520,
 '[45, 4, 5, 23]': 20700,
 "{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}": 1008}

In [12]:
##15

list15=[]
for i in l:
    mul=1
    if type(i)==int or type(i)==float or type(i)==str:
        list[15].append(i)
    elif type(i)==list or type(i)==tuple:
        for j in i:
            list15.append(j)
    elif type(i)==set:
        k=list(i)
        for j in k:
            list15.append(j)
    elif type(i)==dict:
        for n in i:
            list15.append(n)
            list15.append(i[n])
list15

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']